<div class="container mt-4">
  <form class="row g-2 align-items-center">
    <div class="col">
      <input
        [(ngModel)]="newTodo.title"
        name="title"
        minlength="3"
        #titleRef="ngModel"
        required
        type="text"
        class="form-control"
        (keydown.enter)="addTodo()"
        placeholder="Write your todo"
      />
      <div class="text-danger mt-1" *ngIf="titleRef.invalid && titleRef.touched">
        <small *ngIf="titleRef.errors?.['required']">Title is required.</small>
        <small *ngIf="titleRef.errors?.['minlength']">
          Title must be at least 3 characters.
        </small>
      </div>
    </div>
  
    <div class="col-auto">
      <button
        [disabled]="titleRef.invalid"
        (click)="addTodo()"
        type="button"
        class="btn btn-primary"
      >
        Add
      </button>
    </div>
  </form>
  
</div>

<hr class="m-5" />

<div>
  <div
    *ngIf="componentVisibility"
    class="alert alert-success d-flex justify-content-center"
    role="alert"
  >
    Todo created successfully!
  </div>
  <div
    *ngIf="deleteTodoAlert"
    class="alert alert-danger d-flex justify-content-center"
    role="alert"
  >
    Todo deleted: {{ deletedTodoTitle }}
  </div>
</div>

<div class="container mt-4">
  <div
    class="row mt-4"
    *ngFor="let todo of todos; let i = index"
    style="align-items: center"
  >
    <div class="col-auto">
      <input
        type="checkbox"
        class="form-check-input"
        [(ngModel)]="todo.completed"
      />
    </div>

    <div class="col">
      <p
        class="mb-0"
        [ngClass]="{
          'text-decoration-line-through text-muted': todo.completed
        }"
      >
        {{ todo.title }}
      </p>
    </div>

    <div class="col-auto">
      <button class="btn btn-sm btn-primary" (click)="editTodo(i, todo.title)">
        <i class="bi bi-pencil"></i>
      </button>
    </div>

    <div class="col-auto">
      <button class="btn btn-sm btn-danger" (click)="deleteTodo(i, todo.title)">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
</div>
