<div class="container mt-4">
    <div class="d-grid gap-3">
  
      <a routerLink="/auth" class="btn btn-outline-primary text-start">
        Login / Logout
      </a>
  
      <a routerLink="/backup" class="btn btn-outline-secondary text-start">
        Backup
      </a>
  
      <a routerLink="/todo-folder" class="btn btn-outline-success text-start">
        Todo Folder
      </a>
  
      <a routerLink="/notes-folder" class="btn btn-outline-info text-start">
        Notes Folder
      </a>
  
      <a routerLink="/pomodoro" class="btn btn-outline-danger text-start">
        Pomodoro
      </a>
  
      <a routerLink="/habit" class="btn btn-outline-warning text-start">
        Habit
      </a>
  
      <a routerLink="/counter" class="btn btn-outline-dark text-start">
        Counter
      </a>
  
      <a routerLink="/contact" class="btn btn-outline-primary text-start">
        Contact
      </a>
  
      <a routerLink="/about" class="btn btn-outline-secondary text-start">
        About
      </a>
  
    </div>
  </div>
  